@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* COLORS */
	--COLOR-PURPLE: hsl(259, 100%, 65%);
	--COLOR-LRED: hsl(0, 100%, 67%);
	--COLOR-WHITE: hsl(0, 0%, 100%);
	--COLOR-OFF-WHITE: hsl(0, 0%, 94%);
	--COLOR-LGREY: hsl(0, 0%, 86%);
	--COLOR-SMOKEY-GREY: hsl(0, 1%, 44%);
	--COLOR-OFF-BLACK: hsl(0, 0%, 8%);

	/* FONTS */
	--FS: 32px;
}

body {
	background-color: var(--COLOR-OFF-WHITE);
	min-height: 100vh;
	font-size: var(--FS);
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
}

.main-card {
	background-color: var(--COLOR-WHITE);
	border-radius: 1rem 1rem 8rem 1rem;
	padding: 30px;
	max-width: 500px;
	width: 80%;
}

.select-form {
	margin-bottom: 10px;
	width: 80%;

	display: flex;
	justify-content: space-between;
}

.day-month-year-section {
	margin-bottom: 10px;
	width: 30%;

	display: flex;
	flex-direction: column;
}

.label-string {
	color: var(--COLOR-SMOKEY-GREY);
	font-size: 10px;
	letter-spacing: 3px;
}

.date-input {
	border: 1px solid var(--COLOR-LGREY);
	border-radius: 0.3rem;
	font-size: 24px;
	font-weight: 700;
	height: 45px;
	padding: 10px 15px;
}

.date-input:focus {
	outline: none;
}

.error-message {
	color: var(--COLOR-LRED);
	font-size: 9px;
	font-style: italic;
	visibility: hidden;
}

.hr-section {
	margin-bottom: 20px;
	position: relative;
}

hr {
	background-color: var(--COLOR-LGREY);
	border: none;
	height: 1px;
}

.arrow-img-figure {
	background-color: var(--COLOR-OFF-BLACK);
	border-radius: 50%;
	width: 50px;
	height: 50px;

	position: absolute;
	top: -25px;
	/* Requires spaces around operators */
	left: calc(100% - 50px);

	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-img-figure:hover {
	background-color: var(--COLOR-PURPLE);
	cursor: pointer;
}

.arrow-img {
	width: 50%;
}

.date-string {
	font-size: 50px;
	font-style: italic;
	font-weight: 800;
	line-height: 55px;
}

.number-date-string {
	color: var(--COLOR-PURPLE);
}

.error {
	border: 1px solid red;
	color: red;
}

@media screen and (max-width: 530px) {
	.main-card {
		padding: 30px 15px;
	}

	.select-form {
		margin-bottom: 20px;
		width: 100%;
	}

	.date-input {
		font-size: 20px;
		padding: 10px 10px;
	}

	.hr-section {
		margin-bottom: 50px;
	}

	.arrow-img-figure {
		left: calc(50% - 25px);
	}

	.date-string {
		font-size: 45px;
	}
}
