@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* COLORS */
	--COLOR-PALE-BLUE: hsl(225, 100%, 94%);
	--COLOR-BRIGHT-BLUE: hsl(245, 75%, 52%);
	--COLOR-VPALE-BLUE: hsl(225, 100%, 98%);
	--COLOR-DESATURATED-BLUE: hsl(224, 23%, 55%);
	--COLOR-DBLUE: hsl(223, 47%, 23%);

	/* FONTS */
	--FS: 16px;
}

body {
	background-image: url(../images/pattern-background-desktop.svg);
	background-repeat: repeat-x;
	background-color: var(--COLOR-PALE-BLUE);
	/* background-size: cover; - cover the whole container with image */

	font-size: var(--FS);
	font-family: "Red Hat Display", sans-serif;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-card {
	box-shadow: 1px 1px 10px black;
	background-color: white;
	border-radius: 1rem;
	width: 90vw;
	max-width: 400px;
	height: 620px;
	max-height: 100%;
}

.main-image-figure {
	width: 100%;
}

.main-image {
	border-radius: 1rem 1rem 0 0;
	width: 100%;
	height: auto;
}

.main-info-card {
	padding: 35px;

	display: flex;
	align-items: center;
	flex-direction: column;
}

.main-title {
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 20px;
}

.description {
	color: var(--COLOR-DESATURATED-BLUE);
	line-height: 24px;
	margin-bottom: 20px;
	text-align: center;
}

.annual-plan-section {
	background-color: var(--COLOR-VPALE-BLUE);
	border-radius: 0.5rem;
	font-size: 14px;
	width: 100%;
	height: 80px;
	margin-bottom: 25px;
	padding: 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon-annual-plan-container {
	display: flex;
	gap: 15px;
}

.icon-music {
	width: 47px;
}

.annual-plan-price-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 4px;
}

.price-per-year-string {
	color: var(--COLOR-DESATURATED-BLUE);
}

.change-string-link {
	text-decoration: none;
}

.payment-button {
	background-color: var(--COLOR-BRIGHT-BLUE);
	border: none;
	border-radius: 0.5rem;
	color: white;
	outline: none;
	width: 100%;
	height: 50px;
	font-weight: 900;
	margin-bottom: 10px;
}

.payment-button:hover {
	background-color: hsl(245, 75%, 52%, 0.5);
	cursor: pointer;
}

.cancel-order-button {
	border: none;
	border-radius: 0.5rem;
	background-color: white;
	color: var(--COLOR-DESATURATED-BLUE);
	outline: none;
	width: 100%;
	height: 50px;
	font-weight: 900;
	margin-bottom: 25px;
}

.cancel-order-button:hover {
	color: var(--COLOR-DBLUE);
	cursor: pointer;
}

@media screen and (max-width: 550px) {
	.main-card {
		width: 300px;
		height: 540px;
	}

	.main-info-card {
		padding: 15px;
	}
}
