@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:wght@600;800&family=Open+Sans&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* COLORS */
	--COLOR-BLACK: hsl(0, 0%, 0%);
	--COLOR-PURPLE: hsl(270, 73%, 35%);
	--COLOR-LPURPLE: hsl(274, 48%, 49%);
	--COLOR-VLGREY: hsl(0, 0%, 96%);
	--COLOR-WHITE: hsl(0, 0%, 100%);

	/* FONTS */
	--FS: 18px;
}

body {
	font-family: "Cinzel", serif;
	font-size: var(--FS);
	background-color: #fff;
	overflow-x: hidden;
	min-height: 100vh;
}

.home-main {
	height: 50vh;
}

.portfolio-header,
.main-navbar,
.main-navbar ul {
	display: flex;
	align-items: center;
}

.portfolio-header {
	width: 100%;
	height: 75px;
	background-color: var(--COLOR-VLGREY);
	padding: 0 50px;
	position: fixed;
	top: 0%;
	z-index: 999;
	justify-content: space-between;
}

.portfolio-title {
	color: var(--COLOR-PURPLE);
	font-weight: 700;
}

.main-navbar ul {
	width: 800px;
	justify-content: space-between;
}

.main-navbar ul li {
	list-style-type: none;
	position: relative;
}

/* Z-index does not work with child and parent element */
.background-rectangle {
	content: "";
	position: absolute;
	top: -5px;
	right: -10px;
	bottom: -5px;
	left: -10px;
	background-color: var(--COLOR-PURPLE);
	border-radius: 0.5rem;
	z-index: 1;
}

.navbar-section {
	text-decoration: none;
	color: var(--COLOR-PURPLE);
	font-weight: 700;
	z-index: 2;
	position: relative;
}

.greetings-string {
	margin: 225px 0 0 75px;
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
}

.occupation-title {
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	color: var(--COLOR-LPURPLE);
	margin-left: 75px;
	font-size: 48px;
}

.fancy-description {
	font-family: "Open Sans", sans-serif;
	margin: 25px 0 0 75px;
	width: 750px;
	letter-spacing: 1.3px;
	position: relative;
}

/* Display must be inline-block */
.fancy-description span {
	display: inline-block;
}

.main-image-figure {
	width: 400px;
	position: absolute;
	top: 200px;
	right: 100px;
	animation: moveUpAndDown 5s infinite ease-in-out;
}

.main-image-figure::before {
	content: "";
	position: absolute;
	top: 18%;
	left: 5%;
	width: 360px;
	height: 360px;
	background-color: var(--COLOR-LPURPLE);
	border-radius: 50%;
	z-index: -1;
}

.main-image-figure img {
	width: 100%;
	height: auto;
}

@keyframes moveUpAndDown {
	0%,
	100% {
		transform: translateY(30px);
	}

	50% {
		transform: translateY(-30px);
	}
}

.project-main {
	height: 50vh;
	padding: 30px;
	display: flex;
	justify-content: center;
}

.reverse-card-figure {
	width: 1400px;
	height: 500px;
	background-color: var(--COLOR-VLGREY);
	display: flex;
	justify-content: space-between;
	transition: transform 0.5s;
}

.reverse-card-figure img {
	width: 250px;
	height: auto;
}

.reverse-card-figure img.midle-cards {
	opacity: 0.75;
}

.reverse-card-figure img.outer-cards {
	opacity: 0.5;
}
