@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* COLORS */
	--COLOR-ORANGE: hsl(25, 97%, 53%);
	--COLOR-WHITE: hsl(0, 0%, 100%);
	--COLOR-LGRAY: hsl(217, 12%, 63%);
	--COLOR-MGRAY: hsl(216, 12%, 54%);
	--COLOR-DBLUE: hsl(213, 19%, 18%);
	--COLOR-VDBLUE: hsl(216, 12%, 8%);

	/* FONTS */
	--FS: 15px;
}

body {
	background-color: var(--COLOR-VDBLUE);
	font-size: var(--FS);
	font-family: "Overpass", sans-serif;
	height: 100vh;
	overflow-x: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-card,
.thanku-main-card {
	background: linear-gradient(
		to bottom,
		hsl(213, 19%, 18%) 0%,
		hsl(213, 19%, 18%, 0.2) 100%
	);
	border-radius: 1rem;
	width: 80vw;
	max-width: 400px;
	height: 350px;
	padding: 30px;
}

.star-icon-circle {
	background-color: hsl(213, 19%, 25%);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-bottom: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.main-title,
.thanku-title {
	color: var(--COLOR-WHITE);
	margin-bottom: 5px;
}

.description,
.thanku-description {
	color: var(--COLOR-MGRAY);
	margin-bottom: 45px;
}

.rating-options {
	width: 100%;
	height: 47px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rating-button {
	background-color: var(--COLOR-DBLUE);
	border: none;
	border-radius: 50%;
	color: var(--COLOR-LGRAY);
	font-weight: 900;
	width: 47px;
	height: 100%;
	outline: none;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.button-clicked {
	background-color: var(--COLOR-ORANGE); /* Color after the button is clicked */
	color: var(--COLOR-WHITE);
}

.rating-button:not(.button-clicked):hover {
	background-color: var(--COLOR-LGRAY);
	cursor: pointer;
	color: var(--COLOR-WHITE);
}

.submit-button {
	background-color: var(--COLOR-ORANGE);
	border: none;
	border-radius: 1.5rem;
	color: var(--COLOR-WHITE);
	font-weight: 900;
	width: 100%;
	height: 40px;
	outline: none;
}

.submit-button:hover {
	background-color: var(--COLOR-WHITE);
	cursor: pointer;
	color: var(--COLOR-ORANGE);
}

.attribution {
	color: var(--COLOR-WHITE);
}

.thanku-main-card {
	display: none;
}

.clicked-option-title-section {
	background-color: var(--COLOR-DBLUE);
	border-radius: 1.5rem;
	color: var(--COLOR-ORANGE);
	font-weight: 900;
	margin: 15px 0 25px 0;
	padding: 8px 0 5px 0;
	width: 200px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.thanku-description {
	line-height: 23px;
	text-align: center;
}

@media screen and (max-width: 450px) {
	.main-card,
	.thanku-main-card {
		height: 370px;
	}
}
