@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* NEUTCOLORSRAL COLORS */
	--COLORS-VDSATURATED-BLUE: hsl(238, 29%, 16%);
	--COLORS-SOFT-RED: hsl(14, 88%, 65%);

	/* BACKGROUND COLORS */
	--COLORS-SOFT-VIOLET: hsl(273, 75%, 66%);
	--COLORS-SOFT-BLUE: hsl(240, 73%, 65%);

	/* TEXT COLORS */
	--COLORS-VDGRAYISH-BLUE: hsl(237, 12%, 33%);
	--COLORS-DGRAYISH-BLUE: hsl(240, 6%, 50%);

	/* DIVIDERS COLORS */
	--COLORS-LGRAYISH-BLUE: hsl(240, 5%, 91%);

	/* FONTS */
	--FS: 12px;

	/* SIZES */
	--MAIN-CARD-WIDTH: 900;
}

body {
	background: linear-gradient(
		to bottom,
		var(--COLORS-SOFT-VIOLET) 0%,
		var(--COLORS-SOFT-BLUE) 100%
	);
	min-height: 100vh;
	font-size: var(--FS);
	font-family: "Kumbh Sans", sans-serif;
	overflow-x: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-card {
	background-color: var(--COLORS-LGRAYISH-BLUE);
	border-radius: 1.2rem;
	max-width: 850px;
	height: 500px;
	width: 95vw;
	position: relative;
	display: flex;
}

.container {
	height: inherit;
	width: inherit;
	position: relative;
	overflow: hidden;
}

.box-image {
	height: auto;
	position: absolute;
	top: 34%;
	left: -11.5%;
	width: 200px;
	z-index: 2;
}

.woman-image-desktop {
	height: auto;
	width: 450px;
	position: absolute;
	top: 10%;
	left: -9%;
	z-index: 1;
}

.woman-image-background-desktop {
	position: absolute;
	width: 800px;
	height: auto;
	top: -220px;
	left: -425px;
}

.faq-questions-section {
	margin: 60px;
	position: absolute;
	top: 0%;
	left: 47%;
}

.question-section {
	width: 325px;
}

.faq-title {
	font-size: 28px;
	margin-bottom: 20px;
}

.question-title {
	color: var(--COLORS-VDGRAYISH-BLUE);
	font-weight: 400;
}

.faq-title-question-container {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hidden-text-article {
	color: var(--COLORS-DGRAYISH-BLUE);
	display: none;
}

hr {
	margin: 20px 0;
}

.arrow-button-image:hover {
	cursor: pointer;
}

.woman-image-background-mobile,
.woman-image-mobile {
	display: none;
}

@media screen and (max-width: 800px) {
	.main-card {
		margin: 200px 0 100px;
		width: 350px;
		height: 550px;
		/* it has to be, bcs the first time we load the site, it needs to be set */
	}

	.container {
		overflow: visible;
	}

	.woman-image-mobile {
		width: 300px;
		position: absolute;
		top: -5%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.woman-image-background-mobile {
		width: 300px;
		position: absolute;
		top: 70px;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.box-image,
	.woman-image-background-desktop,
	.woman-image-desktop {
		display: none;
	}

	.woman-image-background-mobile,
	.woman-image-mobile {
		display: block;
	}

	.faq-title {
		font-size: 32px;
		transform: translate(40%);
	}

	.faq-questions-section {
		margin: 0px 60px;
		top: 150px;
		left: -14%;
	}
}
